
.modal-reorder {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; 
  border: 1px solid rgb(5, 102, 48);  
  border-radius: 2%;
  /* Sit on top */
  left: 20px;
  top: 100px;
  width: 500px; /* Full width */
  height: 85%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(110, 133, 114);  */
  background-color: rgba(131, 161, 141, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-reorder-content {
  background-color: #fefefe; 
  margin: 5% auto;  
  padding: 20px;
  border: 1px solid rgb(5, 102, 48);  
  border-radius: 2%;
  width: 80%;  
}


.modal-tools {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; 
  border: 1px solid rgb(5, 102, 48);  
  border-radius: 2%;

  /* Sit on top */
  right: 20px;
  top: 20px;
  width: 900px; /* Full width */
  height: 600px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(110, 133, 114);  */
  background-color: rgba(131, 161, 141, 0.4); 
}

/* Modal Content/Box */
.modal-tools-content {
  background-color: #fefefe; 
  /* idea de Marelene, darle transparencia tb al contenido */
  /* background-color: rgba(131, 161, 141, 0.9);  */
  /* color: white; */
  margin: 2% auto;  
  padding: 10px;
  border: 1px solid rgb(5, 102, 48);  
  border-radius: 2%;
  width: 850px;  
  height: 550px;
}
