.input-text {
  outline-color: green ;
  padding: 8px;
  /* background-color: #dfe; */
  /* border: 1; */
  border-radius: 5px;
  border: 1px solid lightgrey;
  width: 350px;
}

.menu-2 {
  /* position: absolute; */
  position: fixed;
  top: 10px;
  left: 10px;
  border: 1px solid ;
  box-shadow: 1px gray; 

}